
{% extends 'layout.html.twig' %}
{% block content %}
	<h3>Veuillez renseigner vos identifiants pour vous connecter</h3>

	{% if error %}
		<p>Erreur de connexion: {{ error }}</p>
	{% endif %}
	<form method="post" action="{{ path('login_check') }}">
		<label for="pseudo">Pseudo</label><br>
		<input type="text" name="_username" id="pseudo" value="{{ last_username }}" ><br><br>

		<label for="mdp">Mot de passe</label><br>
		<input type="password" name="_password" id="mdp"><br><br>

		<input type="submit" value="se connecter" class="btn">
	</form>

	 {% endblock  %}
